.container{
    max-width: 1250px;
    width: 100%;
    height: 500px;
    background:rgb(177, 168, 168);
    padding:20px;
    box-sizing: border-box;
    margin:10px auto;
}

.display{
    width: 50%;
    padding:10px;
    float:left;
    height: 90%;
    background-color: white;
    border:1px solid black;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyboard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
    width: 35%;
    padding:10px;
    float:right;
    margin-top:10px;
    background:rgb(37, 37, 37);
}

#botao{
    background:black;
    color:white;
}

.keyboard #botao:hover{
    background:rgba(70, 69, 69, 0.781);
    transform: scale(0.9,0.9);
}

.disabilitado{
    display: none;
}

.keyboard input{
    width: 25%;
    padding:20px;
    margin:10px;
    cursor:pointer;
    border:0;
}

.keyboard input:focus{
    background:#ccc;
    color:black;
}

.actions-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions-buttons #Corrigir{
    background:rgb(255, 153, 0);
    display: flex;
    justify-content: center;
    color:white;
}

.actions-buttons #emBranco{
    background: rgb(255, 255, 255);
    color:black;
    display: flex;
    justify-content: center;
    
}

.actions-buttons #Confirmar{
    background:rgb(11, 180, 11);
    display: flex;
    justify-content: center;
    color:white;
}

.actions-buttons #Confirmar:hover{
    transform: scale(0.9,0.9);
}
.actions-buttons #emBranco:hover{
    transform: scale(0.9,0.9);
}
.actions-buttons #Corrigir:hover{
    transform: scale(0.9,0.9);
}




/**************************************************************/

.numero{
    max-width: 550px;
    width: 100%;
    height: 150px;
    text-align: center;
    
}

.squarelist p{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    font-size:30px;
}

.selecionando{
    animation: digito 1.5s infinite;
}

.squarelist{
    width: 20%;
    height: 100px;
    background:#ccc;
    display: inline-block;
    margin-top:25px;
    transition: 0.5s;
    position: relative;
  
}

.informações{
    font-size:18px;
    display: none;
}

.aparecer{
    display: block;
}

img{
    width: 150px;
    height: 150px;
}

@keyframes digito{

    from{
        background:#ccc;
       
    }

    to{
        background: rgb(156, 153, 153);
    }

}

@media screen and (max-width:805px){
    .container{
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .keyboard{
        width: 100%;
    }

    .display{
        width: 100%;
        height: 300px;
    }

    img{
        width: 150px;
        height: 100px;
    }
}